.fondo-p {
	background-image: url("../imagenes/fondo\ productos.jpg");
	width: 100%;
	background-size: cover;
	height: fit-content;
}
.home__productos {
	.blue {
		img {
			max-width: 70%;
			display: inline-block;
			vertical-align: middle;
			padding: 2em;
		}
		h2{
			display: inline-block;
			vertical-align: middle;
			padding: 2em;
		}
		p{
			display: inline-block;
			max-width: 30%;
			padding: 2em;
			vertical-align: middle;
			text-align: left;
		}
		
	}
	section {
		margin: 0;
		margin-top: 40em;
	}
	.margen {
		margin-top: 10em;
	}
}





